@import '../../App.scss';

.warpper{
    background-color: $white-blue-light;
    .title{
        margin: 14px 0px;
    }
}

.slide{
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

